{% extends 'base.html' %}

{% block title %} Profile{% endblock title %}
{% block blogactive %} active {% endblock blogactive %}


{% block body %}
<div class="container my-3">
    <h4>-: Blog Written By You :-</h4>
    <hr>

    {% for post in allPosts %}

    <div
        class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 my-4 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Blog Written By:- {{post.author}}</strong>
            <h3 class="mb-0">{{post.title}}</h3>
            <div class="mb-1 text-muted">{{post.datetime}}</div>
            <pre class="card-text mb-auto"
                style="font-family: Arial, Helvetica, sans-serif;">{{post.content | truncatechars:500}}</pre>
            <div class="my-2">
                <a href="/blog/{{post.slug}}" role="button" class="btn btn-primary">Continue reading</a>
            </div>

        </div>
    </div>

    {% endfor %}

</div>
{% endblock %}